/* active color */
.home.active {
  color: var(--accent-color);
}

.home-style {
  --app-content-background-color: #c0d8ec;
}

/* same pattern for others */
.products.active { color: #690c0c; }
.products-style { --app-content-background-color: #d36e5a; }

.services.active { color: #cf5c0f; }
.services-style { --app-content-background-color: #ed9426; }

.about.active { color: #4dd146; }
.about-style { --app-content-background-color: #4dd146; }

.help.active { color: #783896; }
.help-style { --app-content-background-color: #a3a3a3; }